In [0]:
#creating  sample dataframe
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
#sample data from Employees
emp_data=[(1,"Harry",1000),(2,"John",2000),(3,"Ravi",3000),(4,"Ravi",4000)]
emp_column=["emp_id","emp_name","emp_salary"]
df_emp=spark.createDataFrame(emp_data,emp_column)

#sample data for dept
dept_data = [(1, "HR"), (2, "Finance"), (4, "IT")]
dept_columns = ["emp_id", "department"]
df_dept = spark.createDataFrame(dept_data, dept_columns)
  
df_emp.show()
df_dept.show()

+------+--------+----------+
|emp_id|emp_name|emp_salary|
+------+--------+----------+
|     1|   Harry|      1000|
|     2|    John|      2000|
|     3|    Ravi|      3000|
|     4|    Ravi|      4000|
+------+--------+----------+

+------+----------+
|emp_id|department|
+------+----------+
|     1|        HR|
|     2|   Finance|
|     4|        IT|
+------+----------+

In [0]:
#inner Join
df_inner=df_emp.join(df_dept,on='emp_id',how="inner")
df_inner.show()

+------+--------+----------+----------+
|emp_id|emp_name|emp_salary|department|
+------+--------+----------+----------+
|     1|   Harry|      1000|        HR|
|     2|    John|      2000|   Finance|
|     4|    Ravi|      4000|        IT|
+------+--------+----------+----------+

In [0]:
#left Join
df_left=df_emp.join(df_dept,on='emp_id',how="left")
df_left.show()

+------+--------+----------+----------+
|emp_id|emp_name|emp_salary|department|
+------+--------+----------+----------+
|     1|   Harry|      1000|        HR|
|     2|    John|      2000|   Finance|
|     3|    Ravi|      3000|      NULL|
|     4|    Ravi|      4000|        IT|
+------+--------+----------+----------+

In [0]:
#right Join
df_right=df_emp.join(df_dept,on='emp_id',how="right")
df_right.show()

+------+--------+----------+----------+
|emp_id|emp_name|emp_salary|department|
+------+--------+----------+----------+
|     1|   Harry|      1000|        HR|
|     2|    John|      2000|   Finance|
|     4|    Ravi|      4000|        IT|
+------+--------+----------+----------+

In [0]:
#full outer Join
df_outer=df_emp.join(df_dept,on='emp_id',how="outer")
df_outer.show()

+------+--------+----------+----------+
|emp_id|emp_name|emp_salary|department|
+------+--------+----------+----------+
|     1|   Harry|      1000|        HR|
|     2|    John|      2000|   Finance|
|     3|    Ravi|      3000|      NULL|
|     4|    Ravi|      4000|        IT|
+------+--------+----------+----------+